@import '../../styles/variables.scss';

:host {
  display: block;
  position: relative;
}

$containerResponsiveValues: (
  gap: (
    minPx: 20,
    maxPx: 100
  ),
  padding-top: (
    minPx: 20,
    maxPx: 38
  ),
  padding-bottom: (
    minPx: 20,
    maxPx: 38
  )
);

$logoResponsiveValues: (
  width: (
    minPx: 50,
    maxPx: 75
  )
);

.container {
  @include responsive-properties($containerResponsiveValues);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: rem(30);
  padding-right: rem(30);

  color: $white-font-color;
  background-color: $black-background-color;

  &__logo {
    @include responsive-properties($logoResponsiveValues);
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: rem(15);
  }

  &__search {
    cursor: pointer;
  }

  &__sidenav-toggle {
    cursor: pointer;

    @media (min-width: rem(800)) {
      display: none;
    }
  }
}

.transparent {
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.visible {
  background-color: $black-background-color;
}

$listResponsiveValues: (
  gap: (
    minPx: 20,
    maxPx: 100
  )
);

.navigation {
  &__link-list {
    @include responsive-properties($listResponsiveValues);

    display: flex;
  }

  &__link {
    font-size: 1.125rem;
    font-weight: $medium-font-weight;
    line-height: 1.5;

    color: $white-font-color;
  }
}

@media (max-width: rem(800)) {
  .container {
    justify-content: space-between;
  }
  .navigation {
    display: none;
  }
}
