<header class="header" [class.transparent]="isMainPage">
  <a href="/"><img src="../../../../assets/icons/Logo.svg" alt="Logo" class="header__logo" /></a>
  <nav class="header__navigation navigation">
    <ul class="navigation__link-list">
      <li><a href="" class="navigation__link">Home</a></li>
      <li><a href="" class="navigation__link">Gallery</a></li>
      <li><a href="" class="navigation__link">Products</a></li>
      <li><a href="" class="navigation__link">Review</a></li>
      <li><a href="" class="navigation__link">Support</a></li>
    </ul>
  </nav>
  <mat-icon class="header__search">search</mat-icon>
</header>
