<header [classList]="isMainPage ? 'transparent' : 'visible'">
  <div class="container">
    <a href="/"><img src="../../../../assets/icons/Logo.svg" alt="Logo" class="container__logo" /></a>
    <nav class="navigation">
      <ul class="navigation__link-list">
        <li><a href="" class="navigation__link">Home</a></li>
        <li><a [routerLink]="'gallery'" class="navigation__link">Gallery</a></li>
        <li><a href="" class="navigation__link">Products</a></li>
        <li><a href="" class="navigation__link">Review</a></li>
        <li><a href="" class="navigation__link">Support</a></li>
      </ul>
    </nav>
    <div class="container__actions">
      <mat-icon class="container__search">search</mat-icon>
      <mat-icon class="container__sidenav-toggle" (click)="onSidenavToggle()">menu</mat-icon>
    </div>
  </div>
</header>
