<h3 class="title">New Products</h3>
<p class="subtitle">
  New innovation, best quality than before. <br />
  Make every moment flying operation become unforgettable.
</p>

<swiper [config]="config">
  <ng-template swiperSlide>
    <figure class="slide">
      <img class="slide__img" src="../../../../../assets/images/mini_drone 1.png" alt="Mini drone" />
      <figcaption class="slide__description-block">
        <h4 class="slide__title">Mini Drone</h4>
        <p class="slide__text">
          Powerful camera drone at an affordable price range. Camera up to 4K resolution, optimize shots automatically.
        </p>
        <button class="button button__blue">Get Now</button>
      </figcaption>
    </figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure class="slide">
      <img class="slide__img" src="../../../../../assets/images/drone_light 1.png" alt="Light drone" />
      <figcaption class="slide__description-block">
        <h4 class="slide__title">Drone Light</h4>
        <p class="slide__text">
          Drone light is every creators dream. Setting apperture manually and high battery performance. Drone light is everything you need.
        </p>
        <button class="button button__blue">Get Now</button>
      </figcaption>
    </figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure class="slide">
      <img class="slide__img" src="../../../../../assets/images/phantom_drone 1 (1).png" alt="Phantom drone" />
      <figcaption class="slide__description-block">
        <h4 class="slide__title">Phantom Drone</h4>
        <p class="slide__text">
          Inspired by phantom, drone can move faster and quickly like a ghost. Focus on speed so you can investigate environtment quickly.
        </p>
        <button class="button button__blue">Get Now</button>
      </figcaption>
    </figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure class="slide">
      <img class="slide__img" src="../../../../../assets/images/mini_drone 1.png" alt="Mini drone" />
      <figcaption class="slide__description-block">
        <h4 class="slide__title">Mini Drone</h4>
        <p class="slide__text">
          Powerful camera drone at an affordable price range. Camera up to 4K resolution, optimize shots automatically.
        </p>
        <button class="button button__blue">Get Now</button>
      </figcaption>
    </figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure class="slide">
      <img class="slide__img" src="../../../../../assets/images/drone_light 1.png" alt="Light drone" />
      <figcaption class="slide__description-block">
        <h4 class="slide__title">Drone Light</h4>
        <p class="slide__text">
          Drone light is every creators dream. Setting apperture manually and high battery performance. Drone light is everything you need.
        </p>
        <button class="button button__blue">Get Now</button>
      </figcaption>
    </figure>
  </ng-template>
  <ng-template swiperSlide>
    <figure class="slide__img" class="slide">
      <img class="slide__img" src="../../../../../assets/images/phantom_drone 1 (1).png" alt="Phantom drone" />
      <figcaption class="slide__description-block">
        <h4 class="slide__title">Phantom Drone</h4>
        <p class="slide__text">
          Inspired by phantom, drone can move faster and quickly like a ghost. Focus on speed so you can investigate environtment quickly.
        </p>
        <button class="button button__blue">Get Now</button>
      </figcaption>
    </figure>
  </ng-template>
</swiper>
