@import '../../../../shared/styles/variables.scss';
@import '../../../../shared/styles/buttons.scss';

:host {
  display: block;
  padding: 3.125rem 9.375rem;
  margin: 0 auto;

  max-width: $wrapper-size;
}

.title {
  margin-bottom: 1rem;

  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.5;

  color: $black-font-color;
  text-align: center;
}

.subtitle {
  margin-bottom: 3.125rem;

  font-size: 1rem;
  font-weight: 300;
  line-height: 2;

  color: $gray-font-color;
  text-align: center;
}

.q {
  width: 100%;
}

.swiper {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.slide {
  display: flex;
  flex-direction: column;
  padding: 2.8125rem;

  border: 1px solid $gray-border-color;
  border-radius: 10px;
  box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.05);

  max-width: 500px;
  height: 98%;

  &__img {
    margin-bottom: 1.875rem;

    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
  }

  &__description-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    padding: 0 0.625rem;

    text-align: center;
    color: $black-font-color;
  }

  &__title {
    margin-bottom: 0.625rem;

    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__text {
    margin-bottom: 1.875rem;

    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.8;

    flex: 1;
  }
}
