@import '../../../../shared/styles/buttons.scss';

:host {
  display: block;
  background-color: $black-background-color;
}

$containerResponsiveValues: (
  gap: (
    min: 27,
    max: 16
  ),
  padding-top: (
    min: 120,
    max: 150
  ),
  padding-right: (
    min: 30,
    max: 378
  ),
  padding-left: (
    min: 30,
    max: 378
  ),
  padding-bottom: (
    min: 200,
    max: 400
  )
);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive-properties($containerResponsiveValues);

  background-image: url('../../../../../assets/images/get-now-drone.png');
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;

  color: $white-font-color;
  text-align: center;

  @media (max-width: rem(calc($maxWidth / 2))) {
    font-weight: 600;
  }
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;

  color: $gray-font-color;
  text-align: center;
}
