@import '../../../../shared/styles/buttons.scss';
@import '../../../../shared/styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 9.6875rem 23.625rem 25.6875rem;

  background-image: url('../../../../../assets/images/get-now-drone.png');
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;

  color: $white-font-color;
  text-align: center;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;

  color: $gray-font-color;
  text-align: center;
}
