@import '../../../../shared/styles/variables.scss';

$containerResponsiveValues: (
  gap: (
    minPx: 40,
    maxPx: 80
  ),
  padding-top: (
    minPx: 30,
    maxPx: 50
  ),
  padding-left: (
    minPx: 32,
    maxPx: 150
  ),
  padding-right: (
    minPx: 32,
    maxPx: 150
  ),
  padding-bottom: (
    minPx: 50,
    maxPx: 100
  )
);

.container {
  @include responsive-properties($containerResponsiveValues);

  display: flex;
  flex-direction: column;

  color: $black-font-color;
}

$titleResponsiveValues: (
  font-size: (
    minPx: 36,
    maxPx: 64
  )
);

.title {
  @include responsive-properties($titleResponsiveValues);

  font-weight: 600;
  line-height: 1.625;

  max-width: 550px;
}

$reviewsResponsiveValues: (
  gap: (
    minPx: 16,
    maxPx: 50
  )
);

.reviews {
  @include responsive-properties($reviewsResponsiveValues);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: rem(900)) and (max-width: rem(1100)) {
    grid-template-columns: repeat(2, 1fr);
    &__item {
      &:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }

  @media (max-width: rem(900)) {
    grid-template-columns: 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.875rem;

    border: 1px solid $gray-border-color;
    border-radius: 10px;
  }

  &__text {
    margin-bottom: 1.875rem;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.875;
  }
}

.reviewer {
  display: flex;
  gap: 1.875rem;
  align-items: center;

  &__photo {
    width: 70px;
    border-radius: 50%;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__position {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;

    color: $gray-font-color;
  }
}
