<div class="container">
  <figure class="figure">
    <img src="../../../../../assets/images/drone_bottom_view.png" alt="light drone bottom view" />
  </figure>

  <div class="description">
    <h3 class="description__title">Why Drone Light?</h3>
    <p class="description__general">
      We provide a best self drone easy to use and operate. With auto pilot, the device will take a beautiful view for the best of flying
      operation.
    </p>
    <div class="characteristics">
      <div class="item">
        <h4 class="item__value">4K</h4>
        <h5 class="item__characteristic-name">Camera Resolution</h5>
      </div>
      <div class="item">
        <h4 class="item__value">2 TB</h4>
        <h5 class="item__characteristic-name">Storage Capacity</h5>
      </div>
      <div class="item">
        <h4 class="item__value">60 m/s</h4>
        <h5 class="item__characteristic-name">Super Max Speed</h5>
      </div>
      <div class="item">
        <h4 class="item__value">30 mins</h4>
        <h5 class="item__characteristic-name">Long Flight Time</h5>
      </div>
    </div>
  </div>
</div>
