@import '../../../../shared/styles/variables.scss';

:host {
  display: block;
  background-color: $light-gray-background-color;
}

$containerResponsiveValues: (
  gap: (
    minPx: 20,
    maxPx: 80
  ),
  padding-top: (
    minPx: 30,
    maxPx: 80
  ),
  padding-left: (
    minPx: 30,
    maxPx: 140
  ),
  padding-right: (
    minPx: 30,
    maxPx: 140
  ),
  padding-bottom: (
    minPx: 50,
    maxPx: 80
  )
);

.container {
  @include responsive-properties($containerResponsiveValues);

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: rem(1000)) {
    flex-direction: column;
    text-align: center;
  }
}

$imgResponsiveValues: (
  width: (
    minPx: 227,
    maxPx: 342
  )
);

.figure {
  img {
    @include responsive-properties($imgResponsiveValues);
    object-fit: cover;
  }
}

$titleResponsiveValues: (
  font-size: (
    minPx: 36,
    maxPx: 48
  )
);

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $black-font-color;

  &__title {
    @include responsive-properties($titleResponsiveValues);

    margin-bottom: 1rem;

    font-weight: 600;
    line-height: 1.5;
  }

  &__general {
    margin-bottom: 1.875rem;

    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8;
  }
}

$characteristicsResponsiveValues: (
  gap: (
    minPx: 50,
    maxPx: 70
  )
);

.characteristics {
  @include responsive-properties($characteristicsResponsiveValues);

  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr 1.3fr;

  @media (max-width: rem(800)) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  text-align: center;

  width: 100%;

  &__value {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__characteristic-name {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;

    color: rgba($color: $black-font-color, $alpha: 0.5);
  }
}
