@import './variables.scss';

$buttonResponsiveValues: (
  padding-right: (
    minPx: 20,
    maxPx: 60
  ),
  padding-left: (
    minPx: 20,
    maxPx: 60
  )
);

.button {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  @include responsive-properties($buttonResponsiveValues);
  border-radius: 1.875rem;

  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;

  color: $white-font-color;

  &__blue {
    background-color: #2e4dec;
    transition: all 0.3s;
    &:hover {
      background-color: darken($color: #2e4dec, $amount: 15);
    }
  }
}
