@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../../../assets/fonts/Poppins-Light.ttf) format('truetype'),
    url(../../../assets/fonts/Poppins-Medium.ttf) format('truetype'), url(../../../assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}

* {
  font-family: 'Poppins', sans-serif;
}
