$white-background-color: white;
$black-background-color: black;

$white-font-color: white;
$black-font-color: black;
$gray-font-color: #969696;

$bold-font-weight: 600;
$medium-font-weight: 500;
$light-font-weight: 300;
