@import './mixins.scss';

$white-background-color: white;
$black-background-color: black;
$sand-background-color: #fcfaee;

$white-font-color: white;
$black-font-color: #222222;
$gray-font-color: #969696;

$gray-border-color: #e5e5e5;

$bold-font-weight: 700;
$medium-font-weight: 500;
$light-font-weight: 300;

$fontSize: rem(16);
$minWidthRem: rem(320, false);
$maxWidthRem: rem(1512, false);
