$white-background-color: white;
$black-background-color: black;
$light-gray-background-color: #f7f8fa;

$white-font-color: white;
$black-font-color: #222222;
$gray-font-color: #969696;

$bold-font-weight: 600;
$medium-font-weight: 500;
$light-font-weight: 300;

$wrapper-size: 1440px;
