<div class="container">
  <cdk-accordion class="accordion">
    <app-accordion-item>
      <span id="headerTitle" class="accordion-title">{{ 'Customer Care' | uppercase }}</span>
      <ul #accordionBody id="accordionBody" class="accordion-body__ul">
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>FAQ</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Service and Support</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Contact us</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Find store</li>
      </ul>
    </app-accordion-item>
    <app-accordion-item>
      <span id="headerTitle" class="accordion-title">{{ 'Our Policies' | uppercase }}</span>
      <ul #accordionBody id="accordionBody" class="accordion-body__ul">
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Accessibility</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Cookie Policy</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Privacy Policy</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Policies and terms</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Counterfeit</li>
      </ul>
    </app-accordion-item>
    <app-accordion-item>
      <span id="headerTitle" class="accordion-title">{{ 'Social Links' | uppercase }}</span>
      <ul #accordionBody id="accordionBody" class="accordion-body__ul">
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Facebook</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Instagram</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Twitter</li>
        <li class="accordion-body__li"><a href="" class="accordion-body__a"></a>Youtube</li>
      </ul>
    </app-accordion-item>
  </cdk-accordion>
  <div class="copyright">&copy; DreamDrone 2023</div>
</div>
