<div class="container">
  <div class="column">
    <a class="logo">
      <img class="logo__img" src="../../../../assets/icons/Logo.svg" alt="DreamDrone logo" />
      <h3 class="logo__title">DreamDrone</h3>
    </a>
    <p>Look up the sky and beautiful world easily.</p>
  </div>
  <div class="column">
    <h3 class="column__title">Explore</h3>
    <a href="" class="column__link">Our Services</a>
    <a href="" class="column__link">Specification</a>
    <a href="" class="column__link">Refund</a>
    <a href="" class="column__link">Playlist</a>
  </div>
  <div class="column">
    <h3 class="column__title">Account</h3>
    <a href="" class="column__link">My Account</a>
    <a href="" class="column__link">Top Benefit</a>
    <a href="" class="column__link">How-to Tutorials</a>
    <a href="" class="column__link">Moment</a>
  </div>
  <div class="column">
    <h3 class="column__title">Office</h3>
    <a href="" class="column__link">+021 2208 1996</a>
    <a href="" class="column__link">SCBD, Jakarta</a>
    <a href="" class="column__link">No.2 (Autodrone)</a>
    <a href="" class="column__link">support@autodrone.id</a>
  </div>
</div>
