@import '../../styles/variables.scss';

:host {
  display: block;
  background-color: $black-background-color;
}

.container {
  padding: rem(60) rem(70);
}

.accordion {
  display: flex;
  justify-content: space-around;
  gap: rem(60);
  margin-bottom: rem(120);
}

.accordion-title {
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.5rem;

  letter-spacing: rem(1.7);
}

.accordion-body {
  &__ul {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    padding: rem(16) 0;
  }

  &__a {
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: rem(0.1);
  }
}

.copyright {
  font-size: rem(18);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: rem(0.1);
  color: $white-font-color;
  text-align: center;
}
