@import '../../../../shared/styles/variables.scss';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;

  padding: 1.875rem;

  @media (max-width: rem(850)) {
    grid-template-columns: 1fr;
  }
}

$imgResponsiveValues: (
  height: (
    minPx: 460,
    maxPx: 660
  )
);

.figure {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    @include responsive-properties($imgResponsiveValues);
  }
}

$descriptionResponsiveValues: (
  padding-top: (
    minPx: 36,
    maxPx: 120
  ),
  padding-left: (
    minPx: 12,
    maxPx: 65
  ),
  padding-right: (
    minPx: 12,
    maxPx: 65
  ),
  padding-bottom: (
    minPx: 35,
    maxPx: 120
  )
);

$titleResponsiveValues: (
  font-size: (
    minPx: 36,
    maxPx: 48
  )
);

$subtitleResponsiveValues: (
  font-size: (
    minPx: 24,
    maxPx: 28
  )
);

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;

  @include responsive-properties($descriptionResponsiveValues);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  text-align: center;

  &__dark-text {
    color: $black-font-color;

    .description__subtitle {
      color: rgba($color: $black-font-color, $alpha: 0.5);
    }
    .description__highlight-text {
      color: rgba($color: $black-font-color, $alpha: 1);
    }
  }
  &__light-text {
    color: $white-font-color;
    .description__subtitle {
      color: rgba($color: $white-font-color, $alpha: 0.5);
    }
    .description__highlight-text {
      color: rgba($color: $white-font-color, $alpha: 1);
    }
  }

  &__title {
    @include responsive-properties($titleResponsiveValues);
    font-weight: 600;
    line-height: 1.5;
  }

  &__subtitle {
    @include responsive-properties($subtitleResponsiveValues);
    font-weight: 300;
    line-height: 1.78;
  }
}
