<figure class="figure">
  <img src="../../../../../assets/images/ultra_light.png" alt="White Drone" />
  <figcaption class="figure__description description description__dark-text">
    <h2 class="description__title">Ultra Light</h2>
    <h3 class="description__subtitle">
      Drone move faster with weighting component <span class="description__highlight-text">under 200 g</span>
    </h3>
  </figcaption>
</figure>
<figure class="figure">
  <img src="../../../../../assets/images/best_resolution.png" alt="White Drone" />
  <figcaption class="figure__description description description__light-text">
    <h2 class="description__title">Best Resolution</h2>
    <h3 class="description__subtitle">
      Take a beautiful view with best camera up to <span class="description__highlight-text">4K Camera Resolution</span>
    </h3>
  </figcaption>
</figure>
